<main>
  <div class="login-container">
    <div class="panel">
      <h2>Entrar</h2>
      <p>Use sua conta para continuar</p>

      <!-- Formulário de Login -->
      <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">

        <!-- Campo de Usuário -->
        <div class="field">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            required
            placeholder="Digite seu email"
          />
          <small class="p-error" *ngIf="loginForm.get('email')?.hasError('required')">
            Informe o usuário
          </small>
          <small class="p-error" *ngIf="loginForm.get('email')?.hasError('pattern')">
            O usuário não permite caracteres especiais
          </small>
        </div>

        <!-- Campo de Senha -->
        <div class="field">
          <label for="password">Senha</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            required
            placeholder="Digite sua senha"
          />
          <small class="p-error" *ngIf="loginForm.get('password')?.hasError('required')">
            Informe a senha
          </small>
        </div>

        <!-- Botão de Login -->
        <div class="login-actions">
          <button type="submit" class="login-button">Entrar</button>
        </div>
      </form>

      <!-- Link para recuperação de senha -->
      <p class="forgot-password">
        <a href="#">Esqueceu sua senha?</a>
      </p>
    </div>
  </div>
</main>
