<section class="category-section">
    <div class="category-title">
        <h2>Escolha sua Categoria</h2>
    </div>

    <div class="category-container">
        <a href="#" class="category-item">
            <img src="https://www.minhareceita.com.br/app/uploads/2022/12/pizza-de-pepperoni-caseira-portal-minha-receita.jpg" alt="Pizza">
            <h3>Pizza</h3>
        </a>
        <a href="#" class="category-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZuHTiGWB-2IMLv4VAejR5Ts6KZI59xcNmMQ&s" alt="Burgers">
            <h3>Burgers</h3>
        </a>
        <a href="#" class="category-item">
            <img src="https://via.placeholder.com/150/00FF00/FFFFFF?text=Sushi" alt="Sushi">
            <h3>Sushi</h3>
        </a>
        <a href="#" class="category-item">
            <img src="https://via.placeholder.com/150/FFFF00/FFFFFF?text=Salads" alt="Salads">
            <h3>Salads</h3>
        </a>
        <a href="#" class="category-item">
            <img src="https://via.placeholder.com/150/FF6600/FFFFFF?text=Massas" alt="Massas">
            <h3>Massas</h3>
        </a>
        <a href="#" class="category-item">
            <img src="https://via.placeholder.com/150/FF33CC/FFFFFF?text=Doces" alt="Doces">
            <h3>Doces</h3>
        </a>
        <a href="#" class="category-item">
            <img src="https://via.placeholder.com/150/0099FF/FFFFFF?text=Bebidas" alt="Bebidas">
            <h3>Bebidas</h3>
        </a>
        <a href="#" class="category-item">
            <img src="https://via.placeholder.com/150/33FF66/FFFFFF?text=Saudável" alt="Saudável">
            <h3>Saudável</h3>
        </a>
    </div>
</section>
