/* Fonte padrão */
* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.category-section {
    padding: 40px 5%;
    background-color: #f8f8f8;
    text-align: center;
}

.category-title h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.category-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.category-item {
    background-color: #fff;
    border-radius: 50%;
    width: 22%; /* 4 por linha */
    padding-top: 22%;
    position: relative;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #333;
}

.category-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.category-item h3 {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    border-radius: 8px;
    width: 80%;
    text-align: center;
}

.category-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(145, 143, 143, 0.4); /* Vermelho do iFood */
}

/* RESPONSIVIDADE */

/* Telas médias (máximo 768px) */
@media screen and (max-width: 768px) {
    .category-item {
        width: 30%;
        padding-top: 30%;
    }
}

/* Telas pequenas (máximo 480px) */
@media screen and (max-width: 480px) {
    .category-item {
        width: 45%;
        padding-top: 45%;
    }
}
