*{
    font-family: Arial, Helvetica, sans-serif;
}

/* Contêiner do carrinho */
.cart-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Título do carrinho */
  .cart-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Mensagem quando o carrinho está vazio */
  .empty-cart {
    text-align: center;
    color: #888;
  }
  
  /* Itens do carrinho */
  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
  }
  
  .cart-item-img {
    width: 19%;
    height: 180px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  .cart-item-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .cart-item-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .cart-item-price {
    color: #333;
  }
  
  .cart-item-quantity {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .cart-item-quantity button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .remove-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  /* Resumo do carrinho */
  .cart-summary {
    margin-top: 20px;
    text-align: right;
  }
  
  .checkout-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  