<footer class="footer">
    <div id="main-footer">
        <div class="title-container">
            <p class="text-footer" id="title-footer">Disney Eats</p>
            <p class="text-footer" id="slogan-footer">Tudo que você precisa em um só lugar!</p>
        </div>
    
        <div id="divisor">
            <p class="text-footer">© Copyright 2025 - DisneyEats - Todos os direitos reservados com Agência de Restaurantes Online S.A. <br> <br>
    
                CNPJ 14.380.200/0001-21 / Avenida Professora Machadinha Lima, S/N, Príncipe - CEP 63700-000</p>
        </div>
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css">
        <div id="social-media">
            <div>
                <button>
                    <a href="#" target="_blank">
                        <i class="ri-whatsapp-line" id="whatsapp"></i>
                    </a>
    
                </button>
            </div>
    
            <div>
                <button>
                    <a href="#" target="_blank">
                        <i class="ri-instagram-line" id="instagram"></i>
                    </a>    
     
                </button>
            </div>
    
            <div>
                <button>
                    <a href="https://github.com/JeovaJrAguiar/eats" target="_blank">
                        <i class="ri-github-line" id="github"></i>
                    </a>
    
                </button>
            </div>
        </div>
    
    </div>
</footer>