<div class="background">
    <h1>Faça mercado no Disney Eats</h1>
    <p>Entregamos tudo o que precisa na porta da sua casa, de hortifruti a itens de limpeza</p>

    <div class="search-box">
      <input type="text" placeholder="Em qual endereço você está?" />
      <button (click)="onClick()">Ver mercados próximos</button>
    </div>

    <div class="categories">
      <span>Salgado</span>
      <span>Doce</span>
      <span>Bebida</span>
      <span>Vegetariano</span>
      <span>Carne</span>
      <span>Frutos</span>
      <span>Massa</span>
      <span>Fast Food</span>
    </div>
  </div>
