<!-- <div class="quiosque-container">
    <h2 class="quiosque-title">{{ title }}</h2>

  <div class="quiosque-grid">
    <div class="quiosque-card" *ngFor="let quiosque of quiosques">
      <img [src]="quiosque.imagem" class="quiosque-img" />
      <div class="quiosque-info">
        <p> {{ quiosque.nomeCompleto}} </p>
        <p class="quiosque-description">{{ quiosque.endereco }}</p>
        <p class="quiosque-status">Abre: <b>{{ quiosque.horaAbertura }}</b> Fecha: <b>{{ quiosque.horaFechamento }}</b></p>
      </div>
    </div>
  </div>
</div> -->

<div class="quiosque-container">
  <h2 class="quiosque-title">{{ title }}</h2>

  <div class="quiosque-grid">
      <div class="quiosque-card" *ngFor="let quiosque of quiosques" (click)="abrirModal(quiosque)">
          <img [src]="quiosque.imagem" [alt]="quiosque.nome" class="quiosque-img" />
          <div class="quiosque-info">
<!--              <p class="quiosque-name">{{ quiosque.nomeCompleto }}</p>-->
              <p> {{ quiosque.nomeCompleto}} </p>
<!--              <p class="quiosque-description">{{ quiosque.descricao }}</p>-->
              <p class="quiosque-status">{{ quiosque.horaAbertura }} - {{ quiosque.horaFechamento }}</p>
              <p class="quiosque-description">{{ quiosque.endereco }}</p>
          </div>
      </div>
  </div>
</div>

<!-- MODAL -->
<div class="modal-overlay" *ngIf="modalAberto">
  <div class="modal-content">
      <button class="modal-close" (click)="fecharModal()">×</button>
      <p class="modal-title">{{ quiosqueSelecionado?.nomeCompleto }}</p>

      <div class="modal-body">
          <p class="modal-subtitle">Pratos Disponíveis</p>
          <ul class="modal-list">
              <li *ngFor="let prato of quiosqueSelecionado?.pratos" class="modal-item">
                  <span class="modal-item-name">{{ prato.nome }}</span>
                  <span class="modal-item-price">R$ {{ prato.valor ? prato.valor.toFixed(2) : '0.00' }}</span>
                  <button class="btn-add" (click)="adicionarAoCarrinho({ prato: prato, quiosque: quiosqueSelecionado })">Adicionar</button>
              </li>
          </ul>
      </div>
  </div>
</div>
