<header class="header">
  <div class="logo">
    {{ title }}
  </div>

  <nav class="nav">
    <ul>
      <li><a href="/">Início</a></li>
      <li><a href="quiosque">Mercados</a></li>
      <li><a href="#">Categorias</a></li>
      <li><a href="#">Promoções</a></li>
    </ul>
  </nav>

  <div class="search-bar">
    <input type="text" placeholder="Buscar restaurantes ou pratos..." />
    <button class="search-btn">
      <span class="material-icons">search</span>
    </button>
  </div>

  <div class="user-actions">
    <button class="btn-create-account">Criar Conta</button>
    <button class="btn-login">Entrar</button>
  </div>
</header>

