<header class="header">
  <div class="logo">
    {{ title }}
  </div>

  <nav class="nav">
    <ul>
      <li><a href="home">Início</a></li>
      <li><a href="quiosque">Mercados</a></li>
      <li><a href="categorias">Categorias</a></li>
    </ul>
  </nav>

<!--  <div *ngIf="!isHomePage" >-->
<!--    <div class="search-bar">-->
<!--      <input type="text" placeholder="Buscar restaurantes ou pratos..." />-->
<!--      <button class="search-btn" (click)="onSearch()">-->
<!--        <span class="material-icons">Buscar</span>-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->

  <div class="user-actions">
    <div *ngIf="isHomePage; else elseblock" >
      <a href="/registro"><button class="btn-create-account">Criar Conta</button></a>
      <a (click)="onLogin()"><button class="btn-login">Entrar</button></a>
    </div>
    <ng-template  class="user-actions" #elseblock>
      <a href="/carrinho" class="cart-icon">
        <i class="ri-shopping-basket-2-fill"></i>
      </a>

      <div class="user-dropdown">
        <button class="btn-login" (click)="toggleDropdown()">
          Usuário <i class="ri-arrow-down-s-line"></i>
        </button>

        <ul class="dropdown-menu" *ngIf="dropdownAberto">
          <li><a href="/perfil">Perfil</a></li>
          <li><a href="/loja">Loja</a></li>
          <li><a href="/config">Config</a></li>
          <li class="logout" (click)="logout()">Sair</li>
        </ul>
      </div>

    </ng-template>
  </div>
</header>

