<div class="container-pagamento">
  <div class="cartao-pagamento">
    <h2 class="titulo-pagamento">Pagamento</h2>

    <div *ngIf="order">  <div class="info-pagamento">
      <p><strong>Valor da Compra:</strong> R$ {{ totalCompra.toFixed(2) }}</p>
    </div>

      <div class="info-pagamento">
        <p><strong>Saldo DisneyEats:</strong> R$ {{ saldoDisneyEats.toFixed(2) }}</p>
      </div>

      <button class="botao-pagar" (click)="finalizarPagamento()">
        Finalizar Pagamento
      </button>
    </div>
    <div *ngIf="!order">
      <p>Nenhum pedido encontrado.</p>
    </div>
  </div>
</div>
